@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center">
    <p>
    <img style="width:60%; height:400px;" src="./lib/imagens/auxiliar-producao-pcd.jpg" />
    </p>
 </div>
<div class="jumbotron">
    <h1>PCDjobs</h1>
    <p class="lead">Bem vindos!</p>
</div>

<div class="container">
    <div class="col-md-8">
        <h2> Sobre nós</h2>
        
        <a href="https://localhost:44396/Usuarios/Create" class="btn btn-primary" role="button">Cadastre-se Aqui</a>
    </div>
    <div class="col-md-4">


    </div>
</div>
